<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul>
    <li><a href="/">Index</a></li>
    <li><a href="/worm">Worm</a></li>
  </ul>
  <h1>Worm <%= worm_name %> </h1>
  <h3>His helth <%= helth%> units</h3>
  <%= cookies_arr_to_hash %>
  <%= template %>
</body>
</html>