<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul>
    <li><a href="/">Index</a></li>
    <li><a href="/worm">Worm</a></li>
  </ul>
  <%= cookies %>
  <%= template %>
</body>
</html>