<ul>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="eat" value="1">
      <input type="submit" value="Eat">
    </form>
  </li>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="sleep" value="1">
      <input type="submit" value="Sleep">
    </form>
  </li>
    <li>
    <form action="worm" method="post">
      <input type="hidden" name="crawl" value="-1">
      <input type="submit" value="Crawl">
    </form>
  </li>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="trample" value="0">
      <input type="submit" value="Trample">
    </form>
  </li>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="trample" value="1">
      <input type="submit" value="Resurrect">
    </form>
  </li>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="on_hook" value="-10">
      <input type="submit" value="On hook">
    </form>
  </li>
  <li>
    <form action="worm" method="post">
      <input type="hidden" name="off_hook" value="2">
      <input type="submit" value="Off hook">
    </form>
  </li>
</ul>
