<h1>Worm</h1>
<form action="trample_worm" method="post">
  <input type="hidden" name="trample" value="1">
  <input type="submit" value="Trample">
</form>

<form action="/" method="post">
  <input type="hidden" name="reset" value="1">
  <input type="submit" value="Reset">
</form>
